{% extends "base.html" %}

{% block title %}
  Sign Up
{% endblock %}

{% block content %}
<style>
  body {
    margin: 0;
  }

  .sb-title {
    position: relative;
    top: -12px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
  }

  .sb-title-icon {
    position: relative;
    top: -5px;
  }

  .card-container {
    display: flex;
    height: 500px;
    width: 600px;
  }

  .panel {
    background: white;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .half-input-container {
    display: flex;
    justify-content: space-between;
  }

  .half-input {
    max-width: 120px;
  }

  .map {
    width: 300px;
  }

  h2 {
    margin: 0;
    font-family: Roboto, sans-serif;
  }

  input {
    height: 30px;
  }

  input {
    border: 0;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  input:focus::placeholder {
    color: white;
  }

  .button-cta {
    height: 40px;
    width: 40%;
    background: #3367d6;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.48);
    cursor: pointer;
  }
</style>

<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <div class="form-group">
    <label for="userType">User Type</label>
    <select class="form-control" id="userType" name="userType">
      <option value="" selected>Choose your user type</option>
      <option value="regular">Regular user</option>
      <option value="commercial">
        <option value="commercial">Commercial user</option>
    </select>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="card-container">
  <div class="panel">
    <div>
      <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg" alt="">
      <span class="sb-title">Address Selection</span>
    </div>
    <input type="text" placeholder="Address" id="location-input"/>
    <input type="text" placeholder="Apt, Suite, etc (optional)"/>
    <input type="text" placeholder="City" id="locality-input"/>
    <div class="half-input-container">
      <input type="text" class="half-input" placeholder="State/Province" id="administrative_area_level_1-input"/>
      <input type="text" class="half-input" placeholder="Zip/Postal code" id="postal_code-input"/>
    </div>
    <input type="text" placeholder="Country" id="country-input"/>
    <button class="button-cta">Continue</button>
  </div>
  <div class="map" id="gmp-map"></div>
</div>

<script>
"use strict";

function initMap() {
    const CONFIGURATION = {
    "ctaTitle": "Continue",
    "mapOptions": {"center":{"lat":37.4221,"lng":-122.0841},"fullscreenControl":true,"mapTypeControl":false,"streetViewControl":false,"zoom":11,"zoomControl":true,"maxZoom":22,"mapId":""},
    "mapsApiKey": "AIzaSyA_ViBLaqOa0MBByEdI0_x9v7XMSyqgkx8",
    "capabilities": {"addressAutocompleteControl":true,"mapDisplayControl":true,"ctaControl":true}
    };
    const componentForm = [
    'location',
    'locality',
    'administrative_area_level_1',
    'country',
    'postal_code',
    ];

      // Function to handle geolocation errors
    function handleLocationError(browserHasGeolocation, pos) {
        const infoWindow = new google.maps.InfoWindow();
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation
        ? 'Error: The Geolocation service failed.'
        : 'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
        map.setCenter(pos);
    }

     // Function to initialize the map with the current location or fallback center
    function initializeMap(pos) {
        const map = new google.maps.Map(document.getElementById("gmp-map"), {
        zoom: CONFIGURATION.mapOptions.zoom,
        center: pos,
        mapTypeControl: true,
        mapTypeControlOptions: {
            position: google.maps.ControlPosition.TOP_LEFT,
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
            mapTypeIds: [
            google.maps.MapTypeId.ROADMAP,
            google.maps.MapTypeId.SATELLITE,
            google.maps.MapTypeId.HYBRID,
            // google.maps.MapTypeId.TERRAIN,
            ],
        },
        fullscreenControl: CONFIGURATION.mapOptions.fullscreenControl,
        zoomControl: CONFIGURATION.mapOptions.zoomControl,
        streetViewControl: CONFIGURATION.mapOptions.streetViewControl
        });

    
        //const getFormInputElement = (component) => document.getElementById(component + '-input');

        const marker = new google.maps.Marker({map: map, draggable: false});
        const autocompleteInput = getFormInputElement('location');
        const autocomplete = new google.maps.places.Autocomplete(autocompleteInput, {
        fields: ["address_components", "geometry", "name"],
        types: ["address"],
        });
        autocomplete.addListener('place_changed', function () {
        marker.setVisible(false);
        const place = autocomplete.getPlace();
        if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert('No details available for input: \'' + place.name + '\'');
            return;
        }
        renderAddress(place);
        fillInAddress(place);
        });

        function fillInAddress(place) {  // optional parameter
        const addressNameFormat = {
            'street_number': 'short_name',
            'route': 'long_name',
            'locality': 'long_name',
            'administrative_area_level_1': 'short_name',
            'country': 'long_name',
            'postal_code': 'short_name',
        };
        const getAddressComp = function (type) {
            for (const component of place.address_components) {
            if (component.types[0] === type) {
                return component[addressNameFormat[type]];
            }
            }
            return '';
        };
        getFormInputElement('location').value = getAddressComp('street_number') + ' '
                    + getAddressComp('route');
        for (const component of componentForm) {
            // Location field is handled separately above as it has different logic.
            if (component !== 'location') {
            getFormInputElement(component).value = getAddressComp(component);
            }
        }
        }

        function renderAddress(place) {
        map.setCenter(place.geometry.location);
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);
        }
    }
 
    const fallbackCenter = { lat: 32.0853, lng: 34.7818 }; // Tel Aviv

    // Initialize map with fallback center
    initializeMap(fallbackCenter);

    // Try to get the current location
    if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
        (position) => {
        const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
        };
        initializeMap(pos);
        },
        (error) => {
        console.error("Geolocation error:", error);
        handleLocationError(true, fallbackCenter);
        initializeMap(fallbackCenter);
        },
        {
        timeout: 5000, // Set a timeout value, e.g., 5 seconds
        }
    );
    } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, fallbackCenter);
    initializeMap(fallbackCenter);
    }
    
}




// function initMap() {
//     const CONFIGURATION = {
//     "ctaTitle": "Continue",
//     "mapOptions": {"center":{"lat":37.4221,"lng":-122.0841},"fullscreenControl":true,"mapTypeControl":false,"streetViewControl":false,"zoom":11,"zoomControl":true,"maxZoom":22,"mapId":""},
//     "mapsApiKey": "AIzaSyA_ViBLaqOa0MBByEdI0_x9v7XMSyqgkx8",
//     "capabilities": {"addressAutocompleteControl":true,"mapDisplayControl":true,"ctaControl":true}
//     };
//     const componentForm = [
//     'location',
//     'locality',
//     'administrative_area_level_1',
//     'country',
//     'postal_code',
//     ];

//     const getFormInputElement = (component) => document.getElementById(component + '-input');
//     const map = new google.maps.Map(document.getElementById("gmp-map"), {
//     zoom: CONFIGURATION.mapOptions.zoom,
//     center: { lat: 37.4221, lng: -122.0841 },
//     mapTypeControl: true,
//     mapTypeControlOptions: {
//         position: google.maps.ControlPosition.TOP_LEFT,
//         style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
//         mapTypeIds: [
//         google.maps.MapTypeId.ROADMAP,
//         google.maps.MapTypeId.SATELLITE,
//         google.maps.MapTypeId.HYBRID,
//         // google.maps.MapTypeId.TERRAIN,
//         ],
//     },
//     fullscreenControl: CONFIGURATION.mapOptions.fullscreenControl,
//     zoomControl: CONFIGURATION.mapOptions.zoomControl,
//     streetViewControl: CONFIGURATION.mapOptions.streetViewControl
//     });
//     const marker = new google.maps.Marker({map: map, draggable: false});
//     const autocompleteInput = getFormInputElement('location');
//     const autocomplete = new google.maps.places.Autocomplete(autocompleteInput, {
//     fields: ["address_components", "geometry", "name"],
//     types: ["address"],
//     });
//     autocomplete.addListener('place_changed', function () {
//     marker.setVisible(false);
//     const place = autocomplete.getPlace();
//     if (!place.geometry) {
//         // User entered the name of a Place that was not suggested and
//         // pressed the Enter key, or the Place Details request failed.
//         window.alert('No details available for input: \'' + place.name + '\'');
//         return;
//     }
//     renderAddress(place);
//     fillInAddress(place);
//     });

//     function fillInAddress(place) {  // optional parameter
//     const addressNameFormat = {
//         'street_number': 'short_name',
//         'route': 'long_name',
//         'locality': 'long_name',
//         'administrative_area_level_1': 'short_name',
//         'country': 'long_name',
//         'postal_code': 'short_name',
//     };
//     const getAddressComp = function (type) {
//         for (const component of place.address_components) {
//         if (component.types[0] === type) {
//             return component[addressNameFormat[type]];
//         }
//         }
//         return '';
//     };
//     getFormInputElement('location').value = getAddressComp('street_number') + ' '
//                 + getAddressComp('route');
//     for (const component of componentForm) {
//         // Location field is handled separately above as it has different logic.
//         if (component !== 'location') {
//         getFormInputElement(component).value = getAddressComp(component);
//         }
//     }
//     }

//     function renderAddress(place) {
//     map.setCenter(place.geometry.location);
//     marker.setPosition(place.geometry.location);
//     marker.setVisible(true);
//     }
// }


// function handleLocationError(browserHasGeolocation, infoWindow, pos) {
//   infoWindow.setPosition(pos);
//   infoWindow.setContent(
//     browserHasGeolocation
//       ? "Error: The Geolocation service failed."
//       : "Error: Your browser doesn't support geolocation."
//   );
//   infoWindow.open(map);
// }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_ViBLaqOa0MBByEdI0_x9v7XMSyqgkx8&libraries=places&callback=initMap&solution_channel=GMP_QB_addressselection_v1_cABC" async defer></script>
{% endblock %}


<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Address Selection</title>
    <style>
      body {
        margin: 0;
      }

      .sb-title {
        position: relative;
        top: -12px;
        font-family: Roboto, sans-serif;
        font-weight: 500;
      }

      .sb-title-icon {
        position: relative;
        top: -5px;
      }

      .card-container {
        display: flex;
        height: 500px;
        width: 600px;
      }

      .panel {
        background: white;
        width: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .half-input-container {
        display: flex;
        justify-content: space-between;
      }

      .half-input {
        max-width: 120px;
      }

      .map {
        width: 300px;
      }

      h2 {
        margin: 0;
        font-family: Roboto, sans-serif;
      }

      input {
        height: 30px;
      }

      input {
        border: 0;
        border-bottom: 1px solid black;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
      }

      input:focus::placeholder {
        color: white;
      }

      .button-cta {
        height: 40px;
        width: 40%;
        background: #3367d6;
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        font-family: Roboto, sans-serif;
        border: 0;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.48);
        cursor: pointer;
      }
    </style>
    <script>
    "use strict";

    function initMap() {
      const CONFIGURATION = {
        "ctaTitle": "Continue",
        "mapOptions": {"center":{"lat":37.4221,"lng":-122.0841},"fullscreenControl":true,"mapTypeControl":false,"streetViewControl":false,"zoom":11,"zoomControl":true,"maxZoom":22,"mapId":""},
        "mapsApiKey": "AIzaSyA_ViBLaqOa0MBByEdI0_x9v7XMSyqgkx8",
        "capabilities": {"addressAutocompleteControl":true,"mapDisplayControl":true,"ctaControl":true}
      };
      const componentForm = [
        'location',
        'locality',
        'administrative_area_level_1',
        'country',
        'postal_code',
      ];

      const getFormInputElement = (component) => document.getElementById(component + '-input');
      const map = new google.maps.Map(document.getElementById("gmp-map"), {
        zoom: CONFIGURATION.mapOptions.zoom,
        center: { lat: 37.4221, lng: -122.0841 },
        mapTypeControl: false,
        fullscreenControl: CONFIGURATION.mapOptions.fullscreenControl,
        zoomControl: CONFIGURATION.mapOptions.zoomControl,
        streetViewControl: CONFIGURATION.mapOptions.streetViewControl
      });
      const marker = new google.maps.Marker({map: map, draggable: false});
      const autocompleteInput = getFormInputElement('location');
      const autocomplete = new google.maps.places.Autocomplete(autocompleteInput, {
        fields: ["address_components", "geometry", "name"],
        types: ["address"],
      });
      autocomplete.addListener('place_changed', function () {
        marker.setVisible(false);
        const place = autocomplete.getPlace();
        if (!place.geometry) {
          // User entered the name of a Place that was not suggested and
          // pressed the Enter key, or the Place Details request failed.
          window.alert('No details available for input: \'' + place.name + '\'');
          return;
        }
        renderAddress(place);
        fillInAddress(place);
      });

      function fillInAddress(place) {  // optional parameter
        const addressNameFormat = {
          'street_number': 'short_name',
          'route': 'long_name',
          'locality': 'long_name',
          'administrative_area_level_1': 'short_name',
          'country': 'long_name',
          'postal_code': 'short_name',
        };
        const getAddressComp = function (type) {
          for (const component of place.address_components) {
            if (component.types[0] === type) {
              return component[addressNameFormat[type]];
            }
          }
          return '';
        };
        getFormInputElement('location').value = getAddressComp('street_number') + ' '
                  + getAddressComp('route');
        for (const component of componentForm) {
          // Location field is handled separately above as it has different logic.
          if (component !== 'location') {
            getFormInputElement(component).value = getAddressComp(component);
          }
        }
      }

      function renderAddress(place) {
        map.setCenter(place.geometry.location);
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);
      }
    }
    </script>
  </head>
  <body>
    <div class="card-container">
      <div class="panel">
        <div>
          <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg" alt="">
          <span class="sb-title">Address Selection</span>
        </div>
        <input type="text" placeholder="Address" id="location-input"/>
        <input type="text" placeholder="Apt, Suite, etc (optional)"/>
        <input type="text" placeholder="City" id="locality-input"/>
        <div class="half-input-container">
          <input type="text" class="half-input" placeholder="State/Province" id="administrative_area_level_1-input"/>
          <input type="text" class="half-input" placeholder="Zip/Postal code" id="postal_code-input"/>
        </div>
        <input type="text" placeholder="Country" id="country-input"/>
        <button class="button-cta">Continue</button>
      </div>
      <div class="map" id="gmp-map"></div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_ViBLaqOa0MBByEdI0_x9v7XMSyqgkx8&libraries=places&callback=initMap&solution_channel=GMP_QB_addressselection_v1_cABC" async defer></script>
  </body>
</html> -->